*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
  --secondary-color: #fbfaff;
  --heading-color: #080415;
  --text-color: #51586a;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  background: #fff;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;
  background: #ccc;

  font-size: 30px;
  font-weight: 600;
}

/* Common */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.section-heading {
  font-weight: 500;
  color: var(--heading-color);
}

.section-desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

.btn {
  min-width: 170px;
  height: 62px;
  line-height: 62px;
  outline: none;
  border: none;
  background: var(--primary-color);

  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #fdfdfd;
}

.btn:hover {
  opacity: 90%;
  cursor: pointer;
}

/* Header */
.header {
  background: var(--secondary-color);
}

.header__body {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header__icon {
  --width: 46px;

  display: flex;
  justify-content: center;

  width: var(--width);
  height: 46px;
  border-radius: 50%;
  border: 1px solid #dbd4fc;
}

.header__letter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(var(--width) / 2);
}

.header__mail {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36;
  text-decoration-line: underline;
  color: var(--heading-color);
}

.header__memoji {
  width: 100px;
  height: 100px;
}
.header__nav {
  margin-right: -22px;
}

.header__list {
  display: flex;
}

.header__link {
  padding: 8px 22px;
  font-size: 1.8rem;
  color: var(--text-color);
}

.header__link:hover {
  text-shadow: 1px 0 0 currentColor;
  text-decoration: underline;
}

/* Hero */
.hero {
  position: relative;
  padding-top: 44px;
  background: var(--secondary-color);
}

.hero::after {
  content: url(../icon/hero-02.svg);
  position: absolute;
  bottom: 0;
  right: 31.98px;
}

.hero__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__media {
  /* Make sure img always stick in the bottom of the frame */
  display: flex;
  align-items: flex-end;

  position: relative;
  width: 514px;
  height: 705px;
}

.hero__media::after {
  position: absolute;
  bottom: 0;
  left: -43%;

  content: url(../icon/hero-01.svg);
}

.hero__img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.hero__content {
  margin-top: 137px;
}

.hero__heading {
  font-size: 8rem;
  line-height: 7.6rem;
  letter-spacing: -0.32rem;
}

.hero__desc {
  margin-top: 20px;
  width: 370px;
}

.hero__cta {
  margin-top: 50px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.hero__link {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.67;
  text-decoration-line: underline;
  color: var(--heading-color);
}

.hero__connection {
  margin-top: 104px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.hero__networks-desc {
  font-size: 1.6rem;
  line-height: 1.87;
}

.hero__networks {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hero__network {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e3e1e8;
}

.hero__network:hover {
  background: #efeef0;
}

/* Client */
.clients {
  margin-top: 100px;
}

.clients__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__heading {
  position: relative;
  width: 253px;
  font-size: 4.2rem;
  line-height: 1.19;
  letter-spacing: -1.68px;
}

.clients__heading::before {
  position: absolute;
  top: 22px;
  left: -99px;

  content: "";
  width: 86px;
  height: 2px;
  background: var(--primary-color);
}

.clients__media {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  row-gap: 39px;
}

/* Specialties */
.specialty {
  margin-top: 133px;
}

.specialty__top {
  text-align: center;
}

.specialty__heading {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -2.24px;
}

.specialty__desc {
  margin: 20px auto 60px;
  width: 534px;
}

.specialty__article {
  padding: 33px 42px;
  background: var(--secondary-color);
  transition: 0.5s;
}

/*  element grows along x & y axes. Makes it appear slightly larger than its original size. */
.specialty__article:hover {
  transform: scale(1.08);
}

.specialty__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid #e3e1e8;
}

.specialty__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.specialty__article-heading {
  margin-top: 22px;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

.specialty__article-desc {
  margin-top: 15px;
  font-size: 1.6rem;
}

/* Projects */
.project {
  margin-top: 140px;
  background: var(--primary-color);
}

.project__body {
  padding: 86px 0;
}

.project__top {
  display: flex;
  align-items: flex-end;
}

.project__heading {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -2.24px;
  color: #fff;
}

.project__desc {
  color: #cec4fa;
}

.project__bottom {
  margin-top: 81px;
}

.project__articles {
  margin-top: -30px;
}

.project__article {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

  padding: 24px 23px 23px 34px;
  background: var(--secondary-color);
  transition: 0.5s;
}

.project__article::after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  content: url(../icon/project-01.svg);
}

.project__article:hover {
  transform: scale(1.05);
}

.project__info-heading {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

.project__info-desc {
  margin: 10px 0 20px;
  font-size: 1.6rem;
  line-height: 1.44;
}

.project__info-link {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.67;
  text-decoration-line: underline;
  color: var(--heading-color);
}

.project__image {
  flex-shrink: 0;
  width: 246px;
  height: 187px;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__cta {
  margin-top: 80px;
}

.project__btn {
  background: #fff;
  color: var(--heading-color);
}
